<ion-header class="header">
  <ion-toolbar>
    <ion-title>INFOPOKES</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-searchbar color="medium" placeholder="Buscar Pokemon" [(ngModel)]="searchTerm" (keydown.enter)="buscarPokemon()" ></ion-searchbar>
        </ion-col>
        <ion-col size="auto">
          <ion-button size="small" (click)="reset()">Reset</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>


  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <card-pokemon class="cardPokemon" *ngFor="let pokemon of listaPokemon" [data]="pokemon">
  </card-pokemon>
</ion-content>
